  <div class="table">
  <table class="table">
    <thead>
      <tr>
        <th>Menu Item</th>
        <th>Description</th>
        <th>Small</th>
        <th>Large</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $ctrl.items">
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price_small | currency : "$" : 2}}/{{item.small_portion_name}}</td>
        <td>{{item.price_large | currency : "$" : 2}}/{{item.large_portion_name}}</td>
      </tr>
    </tbody>
  </table>
  </div>
